.blog-header {
    line-height: 1;
    border-bottom: 1px solic #cecece;
}

.blog-header-logo {
    font-family: 'Playfair Display', serif;
    font-size: 2.25rem;
}

.bd-placeholder-img {
    text-anchor: middle;
    height: 100%;
}

.blog-footer {
    padding: 2.5rem;
    color: #0000;
    text-align: center;
    border-top: 0.1rem solid #e5e5e5;
}

.blog-navigation {
    margin: 1rem 0 5rem;
}

h1,h2,h3,h4,h5 {
    font-family: 'Playfair Display', serif;
}